{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
{% for histo in histos %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{{histo.image.url}}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">{{histo.title}}</span>
              <span class="section-heading-lower">{{histo.subtitle}}</span>
            </h2>
            <p>{{histo.contenido}}</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}
{% endblock %}